//全局样式

//flex
@mixin flex() {
  display: flex;
}
@mixin flex-row($param:center) {
  display: flex;
  flex-direction: row;
  justify-content: $param;
}
@mixin flex-column($param:center) {
  display: flex;
  flex-direction: column;
  align-items: $param;
}